@import 'tailwindcss';

@theme {
  --color-primary: #543f79;

  --animate-float: float 2s ease infinite;
  --animate-fade-in: fade-in 300ms ease-in forwards;
  --animate-slow-fade-in: fade-in 2s ease-in forwards;

  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-8px);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

html,
body,
#__next {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}
